<div class="row">
    @for (photo of member.photos; track $index) {
    <div class="col-2">
        @if (photo.isApproved == false) {
        <div class="img-section">
            <div class="position-relative img-user">
                <img [src]="photo.url" alt="photo of user" style="filter: blur(8px);
          -webkit-filter: blur(8px);" class="img-thumbnail mb-1" width="500" height="500">
                <span class="position-absolute text-warning fw-bold" style="top:76px; left: 23px;">Waiting Approval</span>
            </div>
            <div class="btn-actions" style="left: 75px !important;">
                <!-- <button [disabled]="photo.isMain" class="btn btn-sm btn-outline-primary"
                    (click)="setMainPhoto(photo)">Main</button> -->
                <button class="btn btn-sm btn-danger" (click)="deletePhoto(photo)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        } @else {
        <div class="img-section">
            <img [src]="photo.url" alt="photo of user" class="img-thumbnail img-user mb-1" width="500" height="500">
            <div class="btn-actions m-b-15">
                <button [disabled]="photo.isMain" class="btn btn-sm btn-primary"
                    (click)="setMainPhoto(photo)">Main</button>
                <button class="btn btn-sm btn-danger" (click)="deletePhoto(photo)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>}
    </div>}
</div>
<!-- file upload -->
<div class="row mt-3">

    <div class="col-md-3">

        <h3>Add Photos</h3>

        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
            [uploader]="uploader" class="card bg-fadef p-5 text-center my-drop-zone"><i class="fa fa-upload fa-3x"></i>
            Drop Photos here
        </div>
    </div>

    <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader.queue.length>0">

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader.queue.length }}</p>

        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <div class="d-flex gap-2 p-3">
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="fa fa-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
                    [disabled]="!uploader.isUploading">
                    <span class="fa fa-ban"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
                    [disabled]="!uploader.queue.length">
                    <span class="fa fa-trash"></span> Remove all
                </button>
            </div>
        </div>

    </div>

</div>